@import url('https://font.gooleapis.co/css2? family=poppins: wght@300;400;500;600&display=swap');
:root{
	main-color: ;
	color-dark: #1d2231;
	text-gray: #8390a2;
}
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'poppins',sans;
}
.sidebar{
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background:#DD2F6E;
}